@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Roboto+Mono:400,700');
.markdown {
  color: #444;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  line-height: 1.8em;
}
.markdown a {
  color: #0645ad;
  text-decoration: none;
}
.markdown a:visited {
  color: #0b0080;
}
.markdown a:hover {
  color: #06e;
}
.markdown a:active {
  color: #faa700;
}
.markdown a:focus {
  outline: thin dotted;
}
.markdown a:hover,
.markdown a:active {
  outline: 0;
}
.markdown p {
  margin: 1em 0;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.markdown img {
  max-width: 100%;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: normal;
  color: #111;
  line-height: 1em;
}
.markdown h1 {
  margin-top: 0;
}
.markdown h2,
.markdown h3 {
  margin-top: 1.5em;
  border-bottom: 0.1em #EEE solid;
}
.markdown blockquote {
  color: #666;
  font-style: italic;
  font-size: 17px;
  margin: 0 0 0 5%;
  text-align: justify;
  border-left: 5px solid #ffa258;
  padding: 10px 25px 10px 35px;
  box-shadow: 2px 2px 15px #ccc;
  background-color: #f9f4ee;
  max-width: 90%;
}
.markdown blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 50px;
  color: #ccc;
  position: relative;
  left: -40px;
  top: 20px;
  height: 0;
}
.markdown hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}
.markdown code,
.markdown pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 95%;
  tab-size: 4;
  overflow-x: auto;
  overflow-y: hidden;
  hyphens: none;
}
.markdown pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.markdown b,
.markdown strong {
  font-weight: bold;
}
.markdown ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
.markdown mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
.markdown sub,
.markdown sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.markdown sup {
  top: -0.5em;
}
.markdown sub {
  bottom: -0.25em;
}
.markdown ul,
.markdown ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
.markdown li p:last-child {
  margin: 0;
}
.markdown dd {
  margin: 0 0 0 2em;
}
.markdown img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.markdown table {
  border: 1px #CCC solid;
  border-collapse: collapse;
  margin-left: 2em;
  margin-right: 2em;
}
.markdown tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.markdown th,
.markdown td {
  padding: 0.5em;
  border-right: 1px #CCC solid;
}
.markdown th {
  background-color: #DDD;
}
.markdown td {
  vertical-align: top;
}
.markdown svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}